* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-color:#dee0e7;
    overflow-x: hidden;
  }

.form input.error{
    border-color:red;
    background: #E9D758;
}

.label.error{
    display: none!important;
}
.error {
    color: red;
} 

.container {
    width: 1448px;
    display: block; 
    margin: auto;
}





.first_list {
    background-color: #0B183A;
    width: 100%;
    max-width: 1448px;
    height: 893px;
    left: 0px;
    top: 0px;
    background-image: url(img/XTpm.gif);
    background-size: 1448px 853px;
    background-blend-mode:screen
    
    
    
}

.products {
    background-color:#000E32 ;
    width: 100%;
    max-width: 1448px;
}





.link_btn {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 18px;
    color: #FAF4F4;
    padding: 13px 50px;
    
    
}




.first_list_central {
    max-width: 853px;
    width: 100%;
    height: 284px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 96px;
    line-height: 142px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-left: 295px;
    margin-right: 292px;
    margin-top: 187px;
    
    
    
}
.solutions {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #E9D758; 
    text-shadow: 0 0 10px #e1c733;
    
}
.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.25em;
    color: #FFFFFF;
    padding-top: 115px;
}
.product_item, .product_item_1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1023px;
    margin-left: 189px;
}
.product_item_1 {
    
    flex-direction: row-reverse;
}

.product_item_1_ru {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1166px;
    width: 100%;
    margin-left: 196px;
    flex-direction: row-reverse;
}
.brand_product_item {
    width: 525px;
    
}
.products_list {
    margin-top: 115px;
}

.products_list_ru {
    margin-top: 85px;
}
.product_item_brand_title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 71px;
    color: #E9D758;
}
.product_item_title_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 26px;
}
.product_item_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.products-item-btn {
   max-width: 186px;
   width: 100%;
    height: 46px;
    border: 1px solid #E9D758;
    background: #000E32;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: center;
    
    
  
}
.btn {
    justify-content: center;
    display: flex;
    margin-top: 75px;
    margin-bottom: 182px;

}
.products_item_photo {
    height: 252px;
    margin-top: 50px;
}
.products_item_photo_men {
    height: 350px;
    
}
.products_item_photo_trans {
    max-width: 351px;
    width: 100%;
    height: 340px;
    margin-top: 57px;
}
.btn_last {
    justify-content: center;
    display: flex;
    margin-top: 56px;
    margin-bottom: 165px;
}
.about {
    background-color: #0B183A;
    width: 100%;
    max-width: 1448px;
}
.about_text {
    max-width: 615px;
    width: 100%;
    margin-top: 15px;
   
 
  
}
.about_text_block {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 47px;
}
.first_list_central_ru {
    max-width: 1298px;
    
    height: 284px;
    left: 295px;
    top: 293px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 96px;
    line-height: 142px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 187px;
}
.brand_product_item_ru {
    width: 630px;
    margin-right: 80px;
    
    
}

.brand_product_item_1_ru {
    width: 630px;
    margin-left: 125px;
    
    
}
.products_item_photo_hvl {
    padding-bottom: 180px;
}

.products_item_photo_men {
    padding-bottom: 50px;
    
}
.product_item_ru {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1071px;
    width: 100%;
    margin-left: 196px;
    
}
.contact {
    background-color: #000E32;
    width: 100%;
    max-width: 1448px;
    height: 100%;
}
.contact_text_block {
    width: 885px;
    height: 266px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 142px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #E9D758; 
    display: flex;
    margin-left: 297px;
    margin-top: 85px;
}

.contact_text_block_ru {
   
    justify-content: center;
    display: flex;
    margin-left: 305px;
    margin-top: 85px;
    max-width: 885px;
}

.contact_text_ru {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 142px;
    text-align: center;
    color: #E9D758; 
}
form {
    display: flex;
    flex-direction: column;
    width: 612px;
    
}
.form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-right: 164px;
}
.title_form {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFBFB;
    margin-bottom: 18px;
}

input {
    height: 44px;
    background: #F9F9F6;
    border: 1px solid #CED0C2;
    box-shadow: inset 0px -8px 16px rgba(33, 34, 28, 0.05);
    border-radius: 4px;
    margin-bottom: 18px;
    padding: 0 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
.text_field {
    height: 218px;
    background: #F9F9F6;
    border: 1px solid #CED0C2;
    box-shadow: inset 0px -16px 32px rgba(33, 34, 28, 0.05);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 49px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    
}
.send-form {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    width: 165px;
    height: 45px;
    border: 1px solid #E9D758;
    background-color: #000E32;
    align-self: center;
    margin-bottom: 161px;
}
.title_address, .title_contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.25em;
    color: #FFFFFF;
    
    
}

.title_address {
    margin-top: 124px;
    margin-bottom: 40px;
}

.title_contacts {
    margin-top: 48px;
    margin-bottom: 40px;
}
.post_address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.address {
    width: 287px;
}
.span_email {
    color: #E9D758;
}

.status {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    height: 10px;
    text-align: center;
    display: block;
    position: relative;
    padding-bottom: 40px;
    color: #e1c733;
    opacity: 0;
    

   
}
.send_status {
    display: flex;
    flex-wrap: wrap;
}

footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 22px;
    height: 36px;
}

.products-item-btn:hover {
    background: #e1c733;
    

}

.link_btn:hover {
    color: #000E32;
}

.link_link:hover {
    color: #000E32;
    background: #e1c733;
}



.send-form:hover {
    background: #e1c733;
    color: #000E32;
}

@media screen and (min-device-width:320px) and (max-device-width: 389px) {
    .container{
      width: 100%;  
    }
    .slogan {
        font-size: 28px;
        line-height: 50px;   
       
    }
    .solutions {
        font-size: 28px;
        line-height: 50px;
    }
    .first_list_central {
        margin-left: 0px ;
    }

    .first_list_central_ru {
        margin-left: 5px;
        margin-right: 5px;
    }
    .first_list {
      background-image: none;
      height: 620px;
      
  }
  .title {
      font-size: 24px;
      line-height: 28px;
  }
  .product_item_brand_title {
      font-size: 32px;
      line-height: 47px;
      text-align: center;
  }
  .product_item, .product_item_1, .product_item_ru, .product_item_1_ru {
      display: flex;
      width: 100%;
      margin-left: 0;
      padding-left: 37px;
      padding-right: 37px;
      align-self: center;
  }
  .brand_product_item {
      width: 100%;
  }
  .brand_product_item_ru {
    width: 100%;
    margin-right: 0;
}

.brand_product_item_1_ru {
    margin-left: 0;
}

  .product_item_title_text {
      font-size: 15px;
      line-height: 30px;
      text-align: center;
  }
  .product_item_text {
      font-size: 14px;
      line-height: 30px;
      text-align: center;
  }
  .products_list, .products_list_ru {
      margin-top: 37px;
  }
  .btn {
      margin-bottom: 120px;
      margin-top: 85px;
      
  }
  .products_item_photo {
      margin-top: 0;
  }
  .products_item_photo {
      margin-bottom: 115px;
  }
  .products_item_photo_men {
      margin-bottom: 120px;
  }
  .products_item_photo_trans {
      margin-top: 0;
      margin-bottom: 80px;
  }
  .btn_last {
      margin-bottom: 80px;
  }
 .about {
  padding-left: 37px;
  padding-right: 37px;
 }
 .contact {
  padding-left: 37px;
  padding-right: 37px;
 }
 .contact_text_block {
  
  margin-left: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  width: 100%;
  height: 100%;
  margin-bottom: 53px;
 }
 .contact_text_block_ru {
    margin-left: 0;
    margin-bottom: 53px;
   }

 .contact_text_ru {
    font-size: 32px;
    line-height: 47px;
   }
 .form {
  
  width: 100%;
  justify-content: start;
  margin-top: 0;
 }
 .title_form {
  font-size: 14px;
  line-height: 16px
 }
 form {
  width: 100%;
 }
 input {
  height: 39px;
 }
 .text_field {
  margin-bottom: 15px;
 }
 .send-form {
  margin-bottom: 118px;
 }
 .title_address {
  margin-top: 0;
 }
 .address {
  text-align: center;
  width: 100%;
 }
 footer {
  margin-top: 118px;
  font-size: 8px;
 line-height: 9px;
 }
 .title_address, .title_contacts {
  font-size: 18px;
  line-height: 21px;
 }
 .post_address {
  font-size: 14px;
  line-height: 16px;
 }


   
    
}

@media screen and (min-width: 390px) and (max-width: 450px) {
    .container{
        width: 100%;  
      }
      .slogan {
          font-size: 36px;
          line-height: 53px;   
         
      }
      .solutions {
          font-size: 36px;
          line-height: 53px;
      }
      .first_list_central {
          margin-left: 0px ;
          
      }
      .first_list_central_ru {
        margin-left: 0;
        margin-right: 0;
        
    }
      .first_list {
        background-image: none;
        height: 620px;
    }
    .title {
        font-size: 24px;
        line-height: 28px;
    }
    .product_item_brand_title {
        font-size: 32px;
        line-height: 47px;
        text-align: center;
    }
    .product_item, .product_item_1, .product_item_ru, .product_item_1_ru {
        display: flex;
        width: 100%;
        margin-left: 0;
        padding-left: 37px;
        padding-right: 37px;
        align-self: center;
    }
    .brand_product_item{
        width: 100%;
    }

    .brand_product_item_1_ru {
        margin-left: 0;
    }

    .brand_product_item_ru {
        width: 100%;
        margin-right: 0;
    }
    .product_item_title_text {
        font-size: 15px;
        line-height: 30px;
        text-align: center;
    }
    .product_item_text {
        font-size: 14px;
        line-height: 30px;
        text-align: center;
    }
    .products_list, .products_list_ru {
        margin-top: 37px;
    }
    
    .btn {
        margin-bottom: 120px;
        margin-top: 85px;
        
    }
    .products_item_photo {
        margin-top: 0;
    }
    .products_item_photo {
        margin-bottom: 115px;
    }
    .products_item_photo_men {
        margin-bottom: 120px;
    }
    .products_item_photo_trans {
        margin-top: 0;
        margin-bottom: 80px;
    }
    .btn_last {
        margin-bottom: 80px;
    }
   .about {
    padding-left: 37px;
    padding-right: 37px;
   }
   .contact {
    padding-left: 37px;
    padding-right: 37px;
   }
   .contact_text_block, .contact_text_block_ru {
    
    margin-left: 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    width: 100%;
    height: 100%;
    margin-bottom: 53px;
   }

   .contact_text_block_ru {
    margin-left: 0;
   }

   .contact_text_ru {
    font-size: 32px;
    line-height: 47px;
   }
   .form {
    
    width: 100%;
    justify-content: start;
    margin-top: 0;
   }
   .title_form {
    font-size: 14px;
    line-height: 16px
   }
   form {
    width: 100%;
   }
   input {
    height: 39px;
   }
   .text_field {
    margin-bottom: 15px;
   }
   .send-form {
    margin-bottom: 118px;
   }
   .title_address {
    margin-top: 0;
   }
   .address {
    text-align: center;
    width: 100%;
   }
   footer {
    margin-top: 118px;
    font-size: 8px;
 line-height: 9px;
   }

 
   .title_address, .title_contacts {
    font-size: 18px;
    line-height: 21px;
   }
   .post_address {
    font-size: 14px;
    line-height: 16px;
   }
  }

